.header {
  font-size: 40px;
  font-weight: 20;
  text-align: center;
}

.bball-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bounce-container {
  min-height: 40px;
}