.letter-die-container {
  text-align: center;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.letter-container {
  justify-content: space-around;
  margin-top: 20px;
}

.letter {
  color: var(--color-letter-spin);
  font-weight: bold;
  font-size: 60px;
}
 
.set{
  color: var(--color-qmark);
}
