.home-content {
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 100px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-card-text {
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
}


@media screen and (min-width: 676px){
  .card-col {
    padding: 50vh 25vw 10vh 25vw;
  }

  .card-middle {
    padding: 10vh 20vw 10vh 20vw;
    min-width: 140px;
  }
}
