.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 599px){
  .game-container {
    padding: 20px 10px;
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 6em;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 73%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
  font-weight: 700;
  align-self: flex-start;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-primary) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.redacted span {
  position: relative;
  white-space: pre;
}

.redacted span::after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(0,0,0,0.35);
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg);
}

.list-container {
  text-align: left;
  margin: 10px;
  min-width: 300px;
}

@media screen and (min-width: 320px) and (max-width: 599px){
  .list-container {
    padding: 5px 10px;
  }
}

.button {
  border-radius: 3px;
  text-transform: uppercase;
  border-style: groove;
  background-color: var(--color-primary);
  border: 1px solid var(--color-hover-border);
  color: var(--color-text);
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: var(--color-hover-bg);
  border: 1px solid var(--color-hover-border);
}

.inactive {
  color: var(--color-text);
}

.random:hover {
  color: #3da9fc;
  animation: spin .5s;
  animation-iteration-count: 1;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}