:root {
  --color-bg: #282c34;
  --color-text: #ffffff;
  --color-btn-bg: #555;
  --color-hover-btn-bg: #3c5d74;
  --color-hover-border: #1b1f2b;
}

body {
  background: #282c34; /* fallback */
  background: var(--color-bg);
  color: #ffffff;
  color: var(--color-text);
  transition: background 0.8s, color 0.8s;
}

.header {
  font-size: 40px;
  font-weight: 20;
  text-align: center;
}