
.child-style {
  background-color: var(--color-footer-bg);
  border-top: 1px solid var(--color-footer-bg);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.phantom {
display: block;
height: 60px;
width: 100%;
}